.cta-alpha{
		text-align: center;
		color: #fff;

		.well{
			padding: 24px 0;
		}
}


.cta-bravo{
	overflow: hidden;
	margin-bottom: 50px;
		.well{
			padding: 24px 0;
			color: #000;
			text-align: center;
		}

		.well-a{
			margin-bottom: 24px;
			@include span(12);

			@include breakpoint(768px){
				@include span(6);
			}
		}

		.well-b{
			@include span(12);

			@include breakpoint(768px){
				@include span(6);
			}

			ul{
				list-style-type: none;
				display: inline-block;
				width: 100%; 
				max-width: 380px;
				border: solid 1px #000;
				padding: 24px 0;
				margin: 0;
				float: right;

				li{
					text-align: center;
				}

				strong{
					display: inline-block;
					width: 150px;
					text-align: left;
					color: $brand-red;
				}
				span{}
			}
		}
}


.cta-charlie{
		text-align: center;
		color: #fff;

		.well{
			padding: 24px 0;
			@include span(12);
			h2{ margin-bottom: 0; }

			@include breakpoint(520px){
				@include span(8);
				text-align: left;
			}
		}

		.well-a{
			padding: 24px 0;
			@include span(12);
			text-align: center;

			@include breakpoint(520px){
				@include span(4);
				text-align: right;
			}

			a{
				display: inline-block;
				background-color: #000;
				padding: 12px;
				color: #fff;
				text-transform: uppercase;
			}
		}
}

.cta-delta{
	.hms-testimonials-rotator{
		margin: 60px;
		// outline: solid 1px red;
		text-align: center;
		position: relative;

		.testimonial{
			margin-bottom: 24px;
			font-size: 31px;
			padding: 48px;
			// outline: solid 1px blue;
		}
		.author{}
		.date{}
		.url{}

		@include fa-sudo(true,'f10d');
		@include fa-sudo(false, 'f10e');

		&:before{
			float: left;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 32px;
		}
		&:after{			
			font-size: 32px;
			float: right;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}



