// Featured Image
.featured-image{
    // Set picture height and width demensions. Note all pictures need to be equal
    $picture-width:    1200px;
    $picture-height:   120px;
    position: relative;
    border-bottom: solid 2px $brand-red;

    // Image
    .img-cont{
        // Mobile First view
        display: block;
        height: $picture-height;
        overflow: hidden;
        position: relative;
        width: 100%;

        img{
            // Mobile First view
            // left: 50%;
            // top: 50%;
            // position: absolute;
            // transform: translate(-50%, -50%);
            // height: 100%;
            // min-width: 100%;

            object-fit: cover;
            object-position: 50% 50%;
            height: $picture-height;
            min-width: 100%;
        }
    }

    // Title
    .title-cont{
        @include container();
        // outline: solid 1px red;
        overflow: hidden;
        position: absolute;
        // z-index: 1;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%);
        width: 1240px;
        // padding: 15px 30px;

        .featured-title{

            $large-heading-fz: (
                default : (32px, 1.1),
                small   : (32px, 1.2), 
                medium  : (32px, 1.2),
                large   : (32px, 1.4),
            );


            @include span(12) ;
            // @include font-size($large-heading-fz);
            font-size: 30px;
            color: #fff;
            // text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            font-weight: 700;
            transform: translateX(12px);             
        }
    }
}
