
#copyright, #longevity{
    display: inline-block; 
    @include span(6);
    // outline:  solid 1px red;
}
#longevity{
    text-align: right;
}

footer {
	clear:both;
	overflow: hidden;
    
    .glass-footer{
        color: #fff;
    	padding: 24px 15px;
        font-family: $ff-Roboto;

        span.h2{
            // text-transform: uppercase;
            font-size: 21px;
            font-family: $ff-Roboto;
            font-weight: 700;
            display: none;
        }

        .site-info {
            display: flex;
            justify-content: space-between;
            .footernav {
                width: auto;
            }
            .addresscard {
                width: auto;
            }
        }

        .addresscard{
            // @include span(12);
            width: auto;
            @include breakpoint(768px){ @include span(6); }
            address{font-style: normal; }

            img.logo{
                margin-left: 0;
            }
        }
        .footernav{
            @include span(12);
            @include breakpoint(768px){ @include span(6); }
        }
    }

    .glass-legal{
        padding: 12px 15px;
        font-size: 14px;
    }

}


footer a {color:#fff;}
footer a:hover {color:#faa625;}

#wpgmza_map { 
    margin: 0 auto !important;
	float: none !important;
    max-width: 1240px !important;
    border-color: #383838;
    border-style: solid;
    border-width: 0 2px;
    box-sizing: border-box;}


    .footernav{
        font-family: $ff-Roboto;

        .menu{
            text-align: right;
         
             &-item{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 12px;
                    color: #fff;
                    font-size: 18px;
                    &:hover, &:focus{
                        color: darken(#fff, 20%);
                    }
                }
             }   
        }
    }

@media screen and (max-width: 768px){
    footer .glass-footer .site-info {
        flex-direction: column;
        align-items: center;
    }

    .footernav ul {
        display: flex;
        flex-wrap: wrap;
    }
}