// Colors

$brand-black: #000;
$brand-blackalt1: #141414; 
// $brand-blackalt2: #424242; 
$brand-red: #b00d00;
$brand-gray: #424242;


// BG
.bg-gray{
	background-color: $brand-gray;
}

.bg-black{
	background-color: $brand-black;
	overflow: hidden;
}


.bg-blackalt1{
	background-color: $brand-blackalt1;
	overflow: hidden;
}

.bg-red{
	background-color: $brand-red;
	overflow: hidden;
}


.bg-pattern{
	background: #f1f1f1 url('/wp-content/themes/sheremeta/images/agsquare.png');
	overflow: hidden;
}


// Font Stack

$ff-lato: 'Lato', sans-serif;
$ff-Roboto: 'Roboto', sans-serif;