.gform_wrapper{
	margin-top: 48px;
	margin-bottom: 48px;
	padding-left: 40px;
	padding-right: 40px;
	// @include span(10 of 12 at 4);
	// @include push(1);

	// Form Body
	.gform_body{
		// @include container();
		clear: both;
		.gform_fields{
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style-type: none;

			.gfield{
				margin-bottom: 20px;
				overflow: hidden;

				.gfield_label{
					// outline: solid 1px green;
					@include span(2 of 12 split);
					text-align: right;
					text-transform: uppercase;
					font-weight: 700;
					padding: 12px 0;
					display: none;
				}

				.ginput_container{ 
					// outline: solid 1px green;
					@include span(10 of 12 split);
					@include push(1 of 12 split);

					input[type="text"],
					input[type="tel"],
					input[type="email"],
					textarea
					{
						width: 100%;
						padding: 18px 12px;
						border: solid 1px #231F20;
					}
				}
			}

		}

	}

	// Form Footer
	.gform_footer{
		// outline: solid 1px green;
		text-align: center;

		.gform_button{
			display: inline-block;
			padding: 12px;
			border: solid 0 $brand-red;
			text-transform: uppercase;
			color: #fff;
			background-color: $brand-red;
			font-weight: 700;
			font-size: 20px;
			font-family: $ff-lato;
		}
	}

	// Validation Stuff
	.validation_error{
		// outline: solid 1px red;
		@include span(10 of 12 split);
		@include push(1 of 12 split);
		margin-bottom: 12px;
		color: red;
		font-size: 12px;
	}

	.validation_message{
		display: none;	
	}

	.ginput_container{ 
		input[aria-invalid="true"] { border-color: red !important; }
	}

	

}



.home-slider{
	position: relative;

	.gform_wrapper{
	margin:20px;
	padding: 0;

	@include breakpoint(768px){
		margin: 36px 0;
		outline: solid 1px red;
		position: absolute;
		top: 50%;
		right: 50px;
		width: 300px;
		background-color: $brand-red;
		padding: 12px 12px;
		transform: translateY(-50%);
	}

	@include breakpoint(992px){
		margin: 0;
		right: 75px;
	}

	// Form Heading
	.gform_heading{
		text-align: center;
		color: #fff; 
		margin-bottom: 12px;
	}

	// Form Body
	.gform_body{
		// @include container();
		clear: both;
		.gform_fields{
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style-type: none;

			.gfield{
				margin-bottom: 20px;
				overflow: hidden;

				.gfield_label{
					// outline: solid 1px green;
					@include span(2 of 12 split);
					text-align: right;
					text-transform: uppercase;
					font-weight: 700;
					padding: 12px 0;
					display: none;
				}

				.ginput_container{ 
					// outline: solid 1px green;
					@include span(12 of 12 split);
					// overflow: hidden;

					input[type="text"],
					input[type="tel"],
					input[type="email"],
					textarea
					{
						width: 100%;
						padding: 10px 12px;
						border: solid 1px #231F20;
						box-sizing: border-box;
					}

					textarea{
						max-height: 100px;
						margin: 0;
					}
				}
			}

		}

	}

	// Form Footer
	.gform_footer{
		// outline: solid 1px green;
		text-align: center;

		.gform_button{
			display: inline-block;
			padding: 12px;
			border: solid 0 $brand-red;
			text-transform: uppercase;
			color: #fff;
			background-color: #000;
			font-weight: 700;
			font-size: 16px;
			font-family: $ff-lato;
		}
	}

	// Validation Stuff
	.validation_error{
		// outline: solid 1px red;
		@include span(10 of 12 split);
		@include push(1 of 12 split);
		margin-bottom: 12px;
		color: darken(#fff, 20%);
		font-size: 12px;
	}

	.validation_message{
		display: none;	
	}

	.ginput_container{ 
		input[aria-invalid="true"] { border-color: blue !important; }
	}


	}
}


$placeholder-color: #000;

::-webkit-input-placeholder { /* Chrome */
  color: $placeholder-color;
  font-weight: 700;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  opacity: 1;
  font-weight: 700;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $placeholder-color;
  opacity: 1;
  font-weight: 700;
}