.grid-gallery{
	// overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	@include container();

	.gallery-item{
		overflow: hidden;
		@include span(12 of 12);

		@include breakpoint(480px){
			@include gallery(6 of 12 1.0);
		}

		@include breakpoint(768px){
			@include gallery(4 of 12 1.0);
		}


		.gallery-image{
			max-height: 180px;
			overflow: hidden;
			display: block;

			@include breakpoint(480px){
						max-height: 140px;
			}

			@include breakpoint(768px){
						max-height: 150px;
			}  

			@include breakpoint(992px){
						max-height: 200px;
			}  

			@include breakpoint(1200px){
						max-height: 250px;
			}  
  
			img{ 
				border: solid 1px #999;
				object-fit: cover;
				min-width: 100%;
				max-height: 100%;
			}
		}


		.gallery-title{
		    color: #b00d00;
		    text-align: center;
		    font-weight: 700;
		    font-size: 18px; 
		    line-height: 1.3;
		    font-family: $ff-lato;
		    display: block;
		    text-align: center;
		    margin-top: 12px;
		    margin-bottom: 12px;
		}
	}
}  