

header .container-fluid{
    background: $brand-black;
	// padding:15px 30px;
	box-sizing:border-box;
}


#logo h1 {
    height: 0;
    text-indent: -9999px;
}

.callwrap2{
    text-align  : center;
    font-family: 'Lato', sans-serif;

    @include breakpoint(768px){
        float: right;
        margin-left: 48px;
    }
    
    a{
        display: inline-block;
        padding: 15px 30px 15px 15px;
        color: $brand-red; 
        font-weight: 900;
        font-size: 28px;
        &:hover{
            color: lighten($brand-red,20%);
        }
    }

    .fa{
        font-size: 28px;
        color: #fff;
        // margin-right: 12px;
    }

}



.callwrap{
	font-family: 'Lato', sans-serif;
	color:#383838;
    float: right;
    padding: 15px 30px;
	position: relative;
}

.callwrap a { 
	color:#b00d00; 
	font-weight: 900;
}

.callwrap a:hover { 
	color: lighten(#b00d00,5%);
}

.number{
	font-size:28px;
	font-weight:600;
	color:#0c8442;
    line-height:30px;

    .fa{
    	color: #fff;
        margin-right: 12px;
    }
}

.call{
	font-size:28px;
	font-weight:400;
	color:#0c8442;
    line-height:30px;
}

/*.callwrap:before{
    content: "\f086";
    color: #383838;
    font-family: FontAwesome;
    font-size: 45px;
    left: -55px;
    position: relative;
	top: 50px;}*/

.metaslider{
	// border-color: #383838 #383838 #383838 #383838;
 //    border-style: solid solid solid solid;
 //    border-width: 0px 2px 0px 2px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
