nav {
	display: block;
	float: right;
	z-index: 1;
    position: relative;
    background-color: #000;
    @include breakpoint(768px){
	    width: 100%;
	    margin-top: -6px;
    }

    @include breakpoint(992px){
	    width: initial;
	    margin-top: 6px;
    }
}

nav .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 6px; 
}
nav .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
nav a {
	color:#fff !important; 
	font-size:18px;
	display: block;
	line-height: 18px;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	padding: 15px 10px;
	text-decoration: none;
}

// nav ul li{ border-right: 1px #b5b4b4 solid;}

// nav ul li:last-child{ border-right: none;}

nav ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
nav ul ul li {
	min-width: 180px;
}
nav ul ul ul {
	left: 100%;
	top: 0;
}
nav ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
	border-bottom: solid 6px transparent; 
}
nav li:hover > a,
nav ul ul :hover > a,
 

nav a:hover {
	color: darken(#fff, 20%) !important;
	border-bottom: solid 6px $brand-red; 
}

nav ul li:hover > ul {
	display: block;
}
nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
	color: #fff;
}
* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
	color: #fff;
}