/*!
Theme Name: Sheremeta Child
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten
*/
.mynothing{}

@import "gl-variables";
@import "susy"; 
@import "breakpoint";
@import "featured-image";
@import "master-slider";
@import "gravity"; 
@import "metaslider";
@import "grid-gallery";


// @import "grid"
// icon before or after element
@mixin fa-sudo($fa-before: false, $fa-icon: f00c, $fa-distance: 0.3, $fa-color: inherit){
	position: relative;
	
	@if $fa-before == true {
		&:before{
			font-family: FontAwesome;
			padding-right: $fa-distance * 1em;
			color: $fa-color;
			content: unquote("\"")+unquote(str-insert($fa-icon,"\\", 1))+unquote("\"");
		} 
	} @else { 
		&:after{
			font-family: FontAwesome;
			padding-left: $fa-distance * 1em;
			color: $fa-color;
			content: unquote("\"")+unquote(str-insert($fa-icon,"\\", 1))+unquote("\"");
		}      
    }
}

$susy: (
	math: fluid,
	output: float,
	gutter-position: split,
	container: 1200px,
	container-position: center,
	columns: 12,
	gutters: 1.25, 
	column-width: false,
	global-box-sizing: border-box
);





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
// main#content {
//     // display: table-cell;
//     // margin: 0;

//     // width: 100%;
// }
// main#content.one-column{
//     display: block;
//     margin: 0;
//    padding: 15px;
// 	box-sizing:border-box;
//     width: 100%;
// 	// border-color: #383838 #383838 #383838 #383838;
//  //    border-style: solid solid solid solid;
//  //    border-width: 0px 2px 0px 2px;
// }
// section.content.left-sidebar main#content{
//     padding-right: 0px;
//     padding-left: 20px;
// }
// aside {
//     // display: table-cell;
//     // min-width: 380px;
//     // width: 380px;
// }

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	// font-family: $ff-Roboto;
}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
section.content {
	margin: 0 auto;
	// width: 1240px;
}
section.content {
	// background: #fff;
	padding: 0;
	box-sizing: border-box;
	margin-top: 50px;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
	/*background: #f1f1f1 url('/wp-content/themes/sheremeta/images/wood-bg.jpg');*/
	font-family: $ff-Roboto;
}
body {
	color: #666;
	// font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.4;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
// input[type="text"],
// input[type="tel"],
// input[type="phonenumber"],
// input[type="password"],
// input[type="email"],
// input[type="url"],
// input[type="number"],
// textarea {
// 	background: #fff;
//     border:none !important;
// 	box-shadow:none !important;
// 	padding: 5px;
//     width: 100%;
// 	box-sizing: border-box;
// }
section a:link, section a:visited {
	color: #0066cc;
	text-decoration: none;
}
section a:active, section a:hover {
	color: #ff4b33;
	text-decoration: none;
}
a:link, a:visited, a:active, a:hover{
    text-decoration: none;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

-webkit-appearance: none;
border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.wes{

}

@import 'menu';

/* =Content
-------------------------------------------------------------- */
main#content {
	color: #333;
	font-size: 16px;
	// margin-top: 50px;
}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
	margin-bottom: 24px;
}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
	margin-bottom: 0;
}
main#content pre,
main#content kbd,
main#content tt,
main#content var {
	font-size: 15px;
	line-height: 21px;
}
main#content code {
	font-size: 13px;
}
main#content dt,
main#content th {
	color: #000;
}
main#content h1,
main#content h2,
main#content h3,
main#content h5,
main#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}


main#content h4, main#content h1 {
	font-size:30px;
	letter-spacing:1px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:900;
	// text-align:center;
	// margin:0px auto 30px auto;
	color:#383838;
	// border-bottom: 1px solid #383838;
    // padding: 3px 0;
	position: relative;
	// max-width:50%;
}



main#content h4:before, 
main#content h1:before {
	position:absolute; 
	display:block; 
	content:''; 
	// border-bottom:1px solid #c1c3c6; 
	height:100%; 
	width:100%; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}


main#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
main#content tr th,
main#content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
main#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
main#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
main#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
main#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
// .entry-content fieldset {
// 	border: 1px solid #e7e7e7;
// 	margin: 0 0 24px 0;
// 	padding: 24px;
// }
// .entry-content fieldset legend {
// 	background: #fff;
// 	color: #000;
// 	font-weight: bold;
// 	padding: 0 24px;
// }
// .entry-content input.file,
// .entry-content input.button {
// 	margin-right: 24px;
// }
// .entry-content label {
// 	color: #424242;
// 	font-size: 12px;
// 	border: solid 1px #000;
// 	display: inline-block;
// 	padding: 4px;
// 	background-color: #FFF;
// 	width: 100%;
// }
// .entry-content select {
// 	margin: 0 0 24px 0;
// }
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: none;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
main#content .video-player {
	padding: 0;
}
/* =Asides
-------------------------------------------------------------- */
.home main#content .format-aside p,
.home main#content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
main#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */
input[type="submit"] {
	color: #333;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
/* =Widget Areas
-------------------------------------------------------------- */
aside select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
aside .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* =Footer
-------------------------------------------------------------- */
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
	body {
		background: none !important;
	}
	section.content {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	.container {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	nav,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	aside {
		display: none !important;
	}
	main#content,
	.container {
		margin: 0;
		width: 100%;
	}
	main#content,
	main#content.one-column {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	.home .sticky {
		border: none;
	}
}

/**********************************GENERAL**********************************/
ul.cnss-social-icon {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery img {
    border: 0 none;
    margin: 0 20px;
}

.left{
	float: left !important;
}
.right{
	float: right;
}

.padding{padding:30px 50px;box-sizing:border-box;}

.scroll-back-to-top-wrapper {
    // background-color: #faa625 !important;
    border-radius: 0;
    bottom: 0 !important;
    color: #ffffff;
    height: 38px;
    line-height: 38px;
    opacity: 0;
    overflow: hidden;
    padding-top: 2px;

    right: 0px; 
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100% !important;
    z-index: 99999999;
}




@import "header";
@import "footer.scss";





/**********************************SIDEBAR**********************************/

section.content .widget_nav_menu{
    padding-left: 30px;
    padding-right: 0;
}
section.content.left-sidebar .widget_nav_menu{
    padding-left: 0;
    padding-right: 30px;
}

/***************************** ABOUT **************************/

.btn-red-reverse{
	display: inline-block;
	padding: 12px;
	border: solid 2px $brand-red;
	text-transform: uppercase;
	color: $brand-red !important;
	font-weight: 700;
}


// .page-id-14 .entry-content{
// 	outline: solid 1px red; 
// }


// #section-about .padding{padding:50px 50px 10px 50px;box-sizing:border-box;}

// #section-about, #section-gallery{
// 	background-color: #424242;
// 	color: #fff;
//     font-size: 14px;
//     line-height: 24px;
//     text-align: center;

//     h1.insert-page-title{
//     	font-family: 'Roboto', sans-serif;
//     	color: #fff;
//     	border-bottom: none;
//     	&:before{
//     		border-bottom:none;
//     		width: 35px; 
//     		height: 4px;
//     		background: #b00d00;
//     		bottom: 0;
//     		left: 50%;
//     		transform: translateX(-50%);
//     	}
//     }
// }

// #section-products, #section-contact{
// 	// background-color: #424242;
// 	// color: #fff;
//     font-size: 14px;
//     line-height: 24px;
//     text-align: center;

//     h1.insert-page-title{
//     	font-family: $ff-Roboto;
//     	color: #000;
//     	border-bottom: none;
//     	&:before{
//     		border-bottom:none;
//     		width: 35px;
//     		height: 4px;
//     		background: #b00d00;
//     		bottom: 0;
//     		left: 50%;
//     		transform: translateX(-50%);
//     	}
//     }

//     .letter, .phone{
//     	text-align: left;
//     	a{color: #000;}
//     }

//     .phone{
//     	font-weight: bold;
//     }

//     .hourswrap{
//     	text-align: left; 
//     	line-height: initial;
//     	padding: 24px 12px 4px 12px;

//     	ul{
//     		margin: 0;
//     		padding: 0;
//     		list-style-type: none;
//     	}

//     	.content-column.one_half ul{
// 		    display: inline-block;
// 		    float: right;
// 		    margin-right: 20px;
//     	}

//     	.content-column.one_half.last_column ul{
// 		    display: inline-block;
// 		    float: left;
// 		    margin-left: 20px;
//     	}

//     }
// }

//  #section-contact{
//  	background-color: #ececec;
//  }


/**********************************PRODUCTS**********************************/

#section-products {
	text-align:center;
	font-size:14px;
	line-height: 24px;
	background: #f1f1f1 url('/wp-content/themes/sheremeta/images/agsquare.png');


	.content-column p:empty {
		outline: solid 1px red;
		display: none;
	}

	.content-column p{
		line-height: 1.4;
	}
}



.insert-page-16 .padding{
	padding:0px 30px; 
	box-sizing:border-box;}

.insert-page-16 img {max-width:100%;height:auto;}

.picoverlay{
	// background    : #383838 none repeat scroll 0 0;
	// font-size     : 18px;
	// line-height   : 24px;
	margin           : 4px;
	// outline       : solid 1px red;
	box-sizing       : border-box;
	// padding       : 10px 0px;
	position         : relative;
	// margin-bottom : 4px;
	// z-index       : 999;
	color            : #b00d00;
	text-align       : center;
	font-weight      : 700;
	font-size        : 22px;
	// max-width     : 559px;
}

.page-template-tpl-services{

	.content.container{
		margin-top: 50px;
		overflow: hidden;
		padding-bottom: 50px;
	}

	aside[role='complementary']{
		@include span(4);

		.custom-html-widget{
			margin-bottom: 48px;
			h2{
				color: #000;
				text-transform: uppercase;
				font-family: $ff-lato;
				font-weight: 900;
				line-height: 1.1;
				font-size: 38px;
			}
		}

		.widget_nav_menu{
			// outline: solid 1px red;
			padding: 0;

			.menu{
				margin: 0 24px 0 0;
				padding: 0;
				list-style-type: none;

				li{
					// outline: solid 1px red;
					display: inline-block;
					margin-bottom: 12px;
					width: 100%;
					a{
						padding: 12px;
						display: inline-block;
						text-transform: uppercase;
						font-weight: 700;
						color: #000;
						width: 100%;
						border-bottom: solid 1px #000;
						border-left: solid 12px transparent;

						&:hover, &:focus{
							background-color: #EBEBEB;
							border-left: solid 12px red;
						}
					}
				}

				.current-menu-item a{

							background-color: #EBEBEB;
							border-left: solid 12px red;
						
					}
			}
		}
	}

	.services-content{
		@include span(8);
	}

}


/**********************************GALLERY*********************************/



/*************************** CTA FORM AND CONTACT ****************************/

.cta {
	background-color: #b00d00;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
	line-height:24px;
    height: 115px;
    padding: 30px 50px;
}

.cta .btn {
	float      : right;
	padding    : 15px 25px;
	box-sizing : border-box;
	background : #000;
	color      : #fff;
	font-size  : 24px;
	margin-top : -23px;
	transition : all 0.2s linear 0s;}

.cta .btn:hover {
	background : lighten(#000, 15%);
	color      : #fff;transition: all 0.2s linear 0s;
}

.looking{
	position: relative;
    top: 15px;
	max-width: 73%;
	font-weight: 900;
}

// #section-contact {
// 	background:#383838;
// 	font-size: 14px;
//     line-height: 24px;
// 	color:#fff;}

// #section-contact a {color:#fff;  transition: all 0.2s linear 0s;}

// #section-contact a:hover {color:#faa625;}

// #section-contact .padding{padding:50px 50px 10px 50px;box-sizing:border-box;}

// .insert-page-21 .insert-page-title{display:none;}

.letter, .phone {margin-top:30px;}

.address, .phone, .letter {font-size:16px;}

.address{margin-top:40px;}

.address:before {
	content: "\f279";
    font-family: FontAwesome;
    font-size: 30px !important;
	padding:0px 15px 0px 0px;
	color:#faa625;
}




.letter:before, .phone:before {
	content: "\f003";
    font-family: FontAwesome;
	padding: 4px 8px;
	margin-right: 8px;
	min-width: 16px;
	display: inline-block;
	color:#fff;
	background:#b00d00;
}

.phone:before{
	content: '\f095';
}



.hours {
	font-size:24px;   
	line-height: 24px;}

.hours:before{
	content: "\f017";
    font-family: FontAwesome;
    font-size: 30px !important;
	padding-right:15px;
	color:#faa625;
}

.hourswrap{
    background: #474747 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    line-height: 30px;
    padding: 30px 30px 5px 30px;
}

.touch{
	font-size:36px; 
	line-height:36px;
	margin:0px 0px 20px 0px;
	text-transform:uppercase; 
	font-weight:600; 
	font-family: 'Lato', sans-serif;}

// .feedback::before {
//     border-bottom: 1px solid #c1c3c6;
//     box-sizing: border-box;
//     content: "";
//     display: block;
//     height: 100%;
//     position: absolute;
//     width: 100%;
// }
// .feedback {
//     border-bottom: 1px solid #faa625;
//     color: #fff;
//     font-family: "Open Sans",sans-serif;
//     font-size: 24px;
//     font-weight: 500;
//     letter-spacing: 1px;
//     margin: 0 auto 30px;
//     max-width: 50%;
//     padding: 3px 0;
//     position: relative;
//     text-align: center;

// }


// ::-webkit-input-placeholder { /* WebKit browsers */
// color: #c1c3c6 !important;
// opacity: 1;
// }

// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
// color: #c1c3c6 !important;
// opacity: 1;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
// color: #c1c3c6 !important;
// opacity: 1;
// }
// :-ms-input-placeholder { /* Internet Explorer 10+ */
// color: #c1c3c6 !important;
// opacity: 1;
// }

.wpcf7-form p {margin-bottom:22px !important}

.smlpadd{padding:1px 40px 0px 0px;box-sizing:border-box;}

.btnwrap{width:100%; margin: 0 auto; text-align:center;clear:both;}


.wpcf7-form input[type="submit"] {
	padding:20px; 
	box-sizing:border-box; 
	background:#000; 
	font-size:24px !important; 
	color:#fff !important;
	box-shadow:none;
	border:none;
	width:30%;
	margin:20px 0px;
	transition: all 0.2s linear 0s;
	font-weight:500;

	&:hover{
		background-color: lighten(#000, 20%);
	}
}

// .wpcf7-form input[type="submit"]:hover {
// 	background:#fff; 
// 	color:#faa625 !important;
// 	transition: all 0.2s linear 0s;
// }





/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}
.wpcf7-form img.wpcf7-form-control {
    margin-top: -30px;
    position: absolute;
    right: 0px;
}
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok{
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid #ec0000 !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #ec0000;
    margin: 0 !important;
    padding: 0 !important;
}

/**********************************RESPONSIVE STYLES**********************************/
// .page-template-fullwidth-page section.content{
//   width: 100%;
// }

// section.content, div.menu, #branding, .container {
//   // width: 1240px;
// }

.fullwidth{
  width: 100%;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
	
	.callwrap{width:23%}
	
	.metaslider,
	main#content.one-column,
	#wpgmza_map{
		border:none !important;}
	
  section.content, .container{
    width: 100% !important;
	border:none !important;
  }
  
  div.menu,
  #branding,
  .container {
    margin: 0 auto;
    width: 100%;
  }
  
  /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
  
  aside {
    overflow: hidden;
    width: 23.40425535%; /* 200px / 940px */ 
    padding-left: 0 !important;
  }
  
}

.footer-logos {
	align-self: center;
	img {
		width: 150px;
	}
}

@media screen and (max-width: 1024px) {
	
		#section-contact .full_width,
		
	    #section-contact .two_third,
	    #section-contact .one_third_last,
	    #section-contact .one_third,
	    #section-contact .one_half_last {
		clear: both;
		width: 100%;
        margin: 20px auto !important;
	   }
	
	#section-contact .one_half{width:50%;}
	
.cta .btn {
    background: white none repeat scroll 0 0;
    box-sizing: border-box;
    clear: both;
    color: #0c8442;
    display: block;
    float: none;
    font-size: 24px;
	line-height:24px;
    margin: 0 auto;
    padding: 15px 25px;
    text-align: center;
    transition: all 0.2s linear 0s;
    max-width:350px;
}
	
	
.looking {
    display: block;
	line-height: 30px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}
	
	.cta {
	  height:auto;
	  padding: 30px 15px 15px;}
	
	.looking{
	position: relative;
    top: 0px;
	max-width: 100%;
}
	
	
}
@media screen and (max-width: 940px) {
	
	
	
}
@media screen and (max-width: 768px) {
	
	.callwrap{width:100%; text-align:center;}

	
	main#content h4 {max-width:90%;}
	
	footer {
    clear: both;
    margin-bottom: 40px;
}
	
	footer .container {padding:20px;}
	
	.feedback{max-width:100%;}
	
	#section-contact .padding {
    box-sizing: border-box;
    padding: 20px;
}
	
		#section-products .full_width,
		#section-products .one_third,
	    #section-products .one_third_last {
		clear: both;
		width: 100%;
        margin: 0 auto !important;
	   }
	
	#section-products .one_third div,
	#section-products .one_third_last div{
    padding: 0 !important;
	}
	
	.picoverlay{line-height: 40px;}
	
	#section-about .padding {
    box-sizing: border-box;
    padding:40px 20px 0px 20px;
}
	
	#section-products .padding,
	#section-gallery .padding {
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
}
		


	#section-gallery main#content h4 {max-width:100%;}
	

	
	.callwrap{
	color: #383838;
    display: inline-block;
    float: none;
    font-family: "Open Sans",sans-serif;
    left: 70px;
    position: relative;
    top: -15px;}
	
	
section.content, .container, main#content, aside, section.content.left-sidebar main#content {
	display: block;
	width: 100% !important;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	min-width: inherit;
	min-width: initial;
	min-width: unset;
}
section.content{
	padding: 0 !important;
}
section.content .widget_nav_menu,
section.content.left-sidebar .widget_nav_menu {
    padding-right: 0px;
    padding-left: 0px;
}
#copyright, #longevity {
    display: block;
    text-align: center;
    width: 100%;
}
}
@media screen and (max-width: 603px) {
}
@media screen and (max-width: 520px) {
	
	.gallery .gallery-item {
    float: none;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
	
	.gallery img {
		display:block;
  border:none !important;
		width:100%;
    margin: 0 auto;
}

	
	#section-contact .wpcf7-form input {width:100%;}
	
	#section-contact .wpcf7-form .one_half {width:100%;clear:both;padding:0;}
	
	
	#section-contact .two_third div{padding:0 !important;}
	
	.call,
	.callwrap:before{display:none;}

	.callwrap {
    color: #383838;
    display: block;
    float: none;
    font-family: "Open Sans",sans-serif;
    left: 0;
	top: 5px;
	position: relative;}
	
}
@media screen and (max-width: 480px) {
	
	
	
	.hourswrap {

    padding: 25px 20px 5px;
}
	
	#section-contact .one_half{font-size:12px;}
}
	
@media screen and (max-width: 320px) {
}
@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}


img.logo{
	max-height: 60px;
	margin: 15px;
}

.container{
	width: 1240px;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
}

textarea.wpcf7-form-control.wpcf7-textarea[name="message"]{
	min-height: 161px;
}

// .content-column.one_third {
// 	outline: solid 1px red;

// 	& > div{
// 		padding-right: 30px;
// 		padding-bottom: 30px;
// 	}
// }

.heading-bottom-border, .entry-content h2{
	position: relative;
	margin-bottom: 28px;
	font-family: $ff-lato;
	font-weight: 900;
	text-transform: uppercase;
	&:before{
		content: "";
		position: absolute;
		width: 35px; 
		height: 4px; 
		background: #b00d00;
		bottom: -4px;
		left: 50%;
		transform: translateX(-50%);
	}
}


@import "cta";
